---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
---

<Layout>
  <main class="flex flex-col items-center pb-8 mt-56 space-y-16">
    <Hero />
    <Socials />
  </main>
</Layout>
