---
import { Image } from "astro:assets";
import pfp from "../assets/pfp.jpeg";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex flex-row-reverse md:justify-between justify-center items-start">
  <div class="flex items-center gap-4">
    <h1 class="text-4xl font-bold">yanpla</h1>
    <ThemeToggle />
  </div>
  <button>
    <Image
      src={pfp}
      alt="yanpla"
      loading="eager"
      fetchpriority="high"
      class="hidden md:block transition-all w-64 h-64 ml-4 hover:p-2 cursor-pointer rounded-[4rem] [corner-shape:squircle]"
    />
  </button>
</header>
