---
import SocialCard from "@/components/ui/SocialCard.astro";
import DiscordIcon from "@/assets/discord.svg";
import GithubIcon from "@/assets/github.svg";
import { DISCORD, GITHUB } from "@/consts";
---

<div class="flex flex-col md:flex-row-reverse md:justify-normal items-center gap-2">
  <SocialCard
    href={`https://discord.com/users/${DISCORD.userId}`}
    title="Discord"
    subtitle={`@${DISCORD.username}`}
  >
    <DiscordIcon slot="icon" />
  </SocialCard>

  <SocialCard
    href={`https://github.com/${GITHUB.username}`}
    title="GitHub"
    subtitle={`@${GITHUB.username}`}
  >
    <GithubIcon slot="icon" />
  </SocialCard>
</div>
