---
---

<section>
  <div class="flex flex-col space-y-4">
    <div class="flex justify-between items-end">
      <h2 class="text-2xl font-bold">top languages</h2>
      <span class="text-xs opacity-50 font-mono">based on github bytes</span>
    </div>

    {/* Progress Bar Skeleton */}
    <div class="flex w-full h-3 overflow-hidden rounded-full bg-border">
      <div class="h-full w-full bg-border animate-pulse"></div>
    </div>

    {/* Legend Skeleton */}
    <div class="grid grid-cols-2 md:grid-cols-3 gap-y-2 gap-x-4">
      {
        Array.from({ length: 6 }).map(() => (
          <div class="flex items-center space-x-2">
            <div class="w-3 h-3 rounded-full bg-border animate-pulse" />
            <div class="h-4 w-16 bg-border rounded animate-pulse" />
            <div class="h-3 w-8 bg-border rounded animate-pulse" />
          </div>
        ))
      }
    </div>
  </div>
</section>
